[submodule "Paddle"]
	path = Paddle
	url = https://github.com/PaddlePaddle/Paddle.git
	commit = 317fd38c7dbfdcf8c449dfe614500e4b9744f24d
[submodule "backends/musa/third_party/mutlass"]
	path = backends/musa/third_party/mutlass
	url = https://sh-code.mthreads.com/sw/mutlass.git
